<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/components.css"> -->

    <!-- CUSTOM STYLE -->      
    <!-- <link rel="stylesheet" href="css/template-style.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900&subset=latin-ext" rel="stylesheet"> 
    <script type="text/javascript" src="../../assets/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery-ui.min.js"></script>      
  </head>

  <body class="size-1140">
    <div id="page-wrapper">
      <!-- HEADER -->
      <header role="banner" class="position-absolute margin-top-30 margin-m-top-0 margin-s-top-0">    
        <!-- Top Navigation -->
        <nav class="background-transparent background-transparent-hightlight full-width sticky">
          <div class="s-12 l-2">
            <a routerLink="/home" class="logo">
              <!-- Logo version before sticky nav -->
              <img class="logo-before" src="../assets/img/logo-dark.png" alt="">
              <!-- Logo version after sticky nav -->
              <img class="logo-after" src="../assets/img/logo-dark.png" alt="">
            </a>
          </div>
          <div class="s-12 l-10">
            <div class="top-nav right">
              <p class="nav-text"></p>
              <ul class="right chevron">
                <li><a routerLink="/home">Home</a></li>
                <li><a routerLink="/about">About Us</a></li>              
                <li><a routerLink="/contact">Contact</a></li>
              </ul>
            </div>
          </div>  
        </nav>
      </header>
      
      <!-- MAIN -->
      <main role="main">
        <!-- Content -->
        <article>
          <header class="section-top-padding background-white">
            <div class="line text-center">        
              <h1 class="text-dark text-s-size-30 text-m-size-40 text-l-size-headline text-thin text-line-height-1">About Us</h1>
              <p class="margin-bottom-0 text-size-16 text-dark">Our houses are a reflection of our personalities. They are safe and beautiful places to retreat and reflect. And we want them to look a certain way and feel a certain vibe, this is where Interior Design comes in. Interior design is a combination of art, decorating, and architecture.<br>
                It's more than just having walls and a roof. It's about making your house a home.</p>
            </div>  
          </header>
          <section class="section-top-padding background-white"> 
            <div class="line">
              <div class="margin">
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="../assets/img/img-03.jpg" alt=""></a>
                  <h2>design your home</h2>
                  <p class="margin-bottom">The art of interior design is fantastic, and I love it.</p>                
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="../assets/img/img-04.jpg" alt=""></a>
                  <h2>design your office</h2>
                  <p class="margin-bottom">To make your room look bigger, decorate it with light.</p>                 
                </div>
                <div class="s-12 m-12 l-4 margin-m-bottom">
                  <a class="image-hover-zoom margin-bottom" href="/"><img src="../assets/img/img-05.jpg" alt=""></a>
                  <h2>design your space</h2>
                  <p class="margin-bottom">Decorating ultimate rule: Live with what you love.</p>                 
                </div>
              </div>
            </div>
          </section>
          <section class="section-top-padding background-white">
            <div class="line">
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Team <span class="text-dark">-</span></h2> 
              <p class="margin-bottom-50 text-center">
                Life is a party, and your rooms should be the perfect place to throw it. Let the design begin.<br> There’s a very thin line between classy home decor and trying too hard.
              </p>  
              <div class="carousel-blocks owl-carousel">                                                                                                            
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="../assets/img/team-01.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Frank Star</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Boss</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="../assets/img/team-02.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Jane Naismith</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Graphic Designer</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="../assets/img/team-03.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Mark Stoner</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Web Developer</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="../assets/img/team-04.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">John Sandman</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Account Manager</p>
                    <a target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-20"></i></a> <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                
                <div class="item">                                                                                                                                                                                                     
                  <div class="padding">
                    <img class="full-img border-image border-primary" src="../assets/img/team-05.jpg" alt="" title="Team" />
                    <h3 class="text-s-size-16 text-size-20 text-line-height-1 text-dark margin-top-20 margin-bottom-0">Melissa Style</h3>
                    <p class="text-size-14 text-dark margin-bottom-10">Graphic Designer</p>
                    <a target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-20"></i></a> <a target="_blank" href="https://www.google.com"><i class="icon-google_plus_circle text-size-20"></i></a>
                  </div>                                                                                                                                                              
                </div>                              
              </div>                                                                                                                                                                                                                                                                                         
            </div> 
          </section>
          <section class="section background-white"> 
            <div class="line">      
              <h2 class="text-s-size-40 text-size-50 text-line-height-1 margin-bottom-10 text-thin text-center"><span class="text-dark">-</span> Our Clients <span class="text-dark">-</span></h2> 
              <p class="margin-bottom-50 text-center">
                It’s more than just having walls and a roof. It’s about making your house a home.<br> A huge house is useless if you do not know how to organize and use the space well.
              </p>                                                                                               
              <div class="margin2x">                                                                                              
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="../assets/img/logo-5.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="../assets/img/logo-2.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="../assets/img/logo-3.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-bottom-40" src="../assets/img/logo-4.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="../assets/img/logo-5.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                 
                  <img class="margin-bottom-40" src="../assets/img/logo-1.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="../assets/img/logo-2.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="../assets/img/logo-3.png" alt="">                                                                                                                                                            
                </div>             
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="../assets/img/logo-4.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="../assets/img/logo-1.png" alt="">                                                                                                                                                            
                </div>
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img class="margin-m-bottom-40" src="../assets/img/logo-3.png" alt="">                                                                                                                                                            
                </div>             
                <div class="s-6 m-4 l-2">                                                                                                                                                                                                   
                  <img src="../assets/img/logo-4.png" alt="">                                                                                                                                                            
                </div>                                                                                                                                                                                              
              </div>
            </div>
          </section>
        </article>
      </main>
      
      <!-- FOOTER -->
      <footer>
        <!-- Contact Us -->
        <div class="background-dark padding text-center footer-social">
          <a class="margin-right-10" target="_blank" href="https://www.facebook.com"><i class="icon-facebook_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">FACEBOOK</span></a>
          <a class="margin-right-10" target="_blank" href="https://www.twitter.com"><i class="icon-twitter_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">TWITTER</span></a>
          <a class="margin-right-10" target="_blank" href="https://www.instagram.com"><i class="icon-instagram_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">INSTAGRAM</span></a>
          <a target="_blank" href="https://www.linkedin.com"><i class="icon-linked_in_circle text-size-30"></i> <span class="text-strong text-white hide-s hide-m">LINKEDIN</span></a>                                                                         
        </div>

        <!-- Main Footer -->
        <section class="section-small-padding text-center background-dark full-width">
          <div class="line">
            <div class="margin">
              <!-- Collumn 1 -->              
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">Company Address</h3>
                <p class="text-size-14">
                    A-2/55<br>
                    New Kondli<br> 
                    Delhi-11096
                </p>               
              </div>
              <!-- Collumn 2 -->
              <div class="s-12 m-12 l-4 margin-m-bottom-30">
                <h3 class="text-size-16">E-mail</h3>
                <p class="text-size-14">
                    rdclassicdesign@gmail.com<br>
                    rdclassicdesign1972@gmail.com
                </p>              
              </div>
              <!-- Collumn 3 -->
              <div class="s-12 m-12 l-4 ">
                <h3 class="text-size-16">Phone Numbers</h3>
                <p class="text-size-14">
                    91+9818815002<br>
                    91+8285653798
                </p>             
              </div>
            </div>
          </div>  
        </section>
        <hr class="break margin-top-bottom-0" style="border-color: rgba(0, 0, 0, 0.80);">
        
        <!-- Bottom Footer -->
        <section class="padding background-dark full-width">
          <div class="text-center">
            <p class="text-size-12">Copyright 2019, Rdclassic Design</p>
            <p class="text-size-12">All images is purchased from RDClassicDesign. Do not use the images in your website.</p>
          </div>
        </section>
      </footer>
    </div>
    <script type="text/javascript" src="../../assets/js/responsee.js"></script>
    <script type="text/javascript" src="../../assets/js/jquery.events.touch.js"></script>
    <script type="text/javascript" src="../../assets/owl-carousel/owl.carousel.js"></script>
    <script type="text/javascript" src="../../assets/js/template-scripts.js"></script> 
  </body>
</html>